/* Copyright Panopto 2009 - 2011 / With contributions from Spenser Jones (sjones@ambrose.edu)
 * 
 * This file is part of the Panopto plugin for Moodle.
 * 
 * The Panopto plugin for Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The Panopto plugin for Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Panopto plugin for Moodle.  If not, see <http://www.gnu.org/licenses/>.
 */

#configPage
{
    text-align: center;
}

#configTable
{
    margin-left: auto;
    margin-right: auto;
}

.globalConfigSettingName
{
    text-align: right;
}

#provisionContents
{
    margin-top: 30px;
    margin-left: 30px;
}

#provisionInstructions
{
    margin-top: 15px;
    margin-bottom: 15px;
}

#courseMultiSelect
{
    height: 500px;
    min-width: 250px;
}

#batchProvisionResultsHeader
{
    font-weight: bold;
    font-size: 1.2em;
    margin: 15px;
}

.courseProvisionResult
{
    border: solid 1px #C0C0C0;
    padding: 5px;
    margin-bottom: 20px;
}

.courseProvisionResult .attribute
{
    font-weight: bold;
}

.courseProvisionResult .value
{
    margin-left: 15px;
    margin-bottom: 5px;
}

.courseProvisionResult .successMessage
{
    color: green;
}

.courseProvisionResult .errorMessage
{
    color: red;
}

#provisionBackLink
{
    margin: 30px;
}

#instanceConfigLink
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

#instanceConfigForm
{
    text-align: left;
}

#instanceConfigHeader
{
    margin-bottom: 15px;
}

.sectionHeader
{
    margin-top: 10px;
}

#liveSessionsHeader
{
    margin-top: 5px;
}

#hiddenLecturesDiv
{
    display: none;
}

#showAllDiv
{
    margin-top: 5px;
}

#showAllToggle
{
    font-weight: bold;
    font-size: 0.8em;
}

.listItem
{
    margin-top: 3px;
    font-size: 0.8em;
}

.listItemAlt
{
    background: #F0F0F0;
}

.rssLink
{
    font-size: 0.8em;
}

.rssParen
{
    font-size: 0.7em;
}

.nowrap
{
    white-space: nowrap;
}

.error
{
    color: red;
}